.mainContainer {
  border: 2px solid rgb(194, 5, 5);
  border-radius: 20px;
  margin: 0 auto;
  box-shadow: 1px 2px 5px;
}

.buttonsRow > button {
  flex: 1
}

button {
  cursor: pointer !important;
}
.peakMeter {
  overflow: hidden;
  height: 100%;
  width: 34px;
  background-color: black;
}


.ChooseSongsContainer > div{
  flex: 0
}

.ChooseSongsContainer > div:first-child{ 
  flex: 1;
}

.ChooseSongsContainer .panel {
  transition: all 0.3s ease;
  width: 50px;
}

.ChooseSongsContainer .panel.open { 
  flex: 1;
  width: 100%
}


.Track {
  border: 1px solid white;
  padding: 10px;
  border-radius: 9px;
}

.CrossFaderLevel {
  width: 100%;
  border: 1px solid white;
  margin: 20px 0;
  border-radius: 9px;
}